@font-face{
  src: url("../css/scrump.otf");
  font-family: Scrump;
}

@font-face{
  src: url("../css/scrump-italics.otf");
  font-family: fancy-scrump;
}

body {
  background-color: black;
  font-color: white;
  justify-content: center;
  display: flex;
  flex-flow: column;
}

#mars-image {
  width: 130%;
  transform: rotate(160deg);
  z-index: -1;
}

#top {
  font-size: 200%;
}

#header-txt {
  position: fixed;
  text-align: center;
  color: white;
  font-family: "scrump";
  font-size: 400%;
  margin-left: 15%;
  margin-top: -50%;
  width: 200%:
}

#content{
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 20%;
  border: solid green;
  font-size: 250%;
  color: white;
}

#subtitle{
  
}


/*Mobile*/
@media screen and (max-width: 425px) {

}

/*Tablet*/
@media screen and (max-width: 425px) {

}
