@font-face{
  src: url("../css/scrump.otf");
  font-family: Scrump;
}

@font-face{
  src: url("../css/scrump-italics.otf");
  font-family: fancy-scrump;
}

body {
  background-color: black;
  display: flex;
  flex-flow: column;
  color: white;
}

#mars {
    transform: rotate(180deg);
    z-index: -1;
}

#headerstuff {
  z-index: 1;
  text-align: center;
  font-family: scrump;
}

#content{
  border: solid blue;
  display: flex;
  flex-direction: column;
}

#quote {
  display: flex;
  flex-direction: row;
}
#quoter{

}
/*Mobile*/
@media screen and (max-width: 425px) {
  #headerstuff {
    margin-top: -100%;
    font-size: 150%;
  }

  #mars{
    margin-left: 200%;
    margin-top: -290%;
    width: 5%;
    max-height: 140%;
    min-height: 140%;
    height: 140%;
    max-width: 5%;
  }

  #content {
    margin-top: 100%;
    font-size: 90%;
    padding: 6%;
    width: 90vw;
  }
}

/*Tablet*/
@media screen and (max-width: 425px) {

}
