@font-face{
  src: url("../css/scrump.otf");
  font-family: Scrump;
}

@font-face{
  src: url("../css/scrump-italics.otf");
  font-family: fancy-scrump;
}

body {
  background-color: black;
  display: flex;
  flex-flow: column;
  color: white;
}

#mars {
    transform: rotate(160deg);
    z-index: -1;
    max-width: 90%;
    margin-top: -20%;
}

#headerstuff {
  z-index: 2;
  text-align: center;
  font-family: scrump;
  margin-top: -20%;
  font-size: 150%;
}

#content{
  font-family: scrump;
  display: flex;
  flex-direction: column;
}

#quote {

}

#quoter {
  float: left;
}

#image {
  float: right;
  border-bottom: solid white;
}

/*Desktop Responsiveness*/



#quoter {
  width: 30%;
  padding: 3%;
  border-top: solid white;
  border-bottom: solid white;
}

#content {
  justify-content: center;
  margin-top: 5%;
  font-size: 150%;
  padding: 5%;
}

#geyser {
  width: 80%;
}

#image {
  width: 40%;
}

/*-------------------------------
/*Mobile*/
@media screen and (max-width: 425px) {
  #headerstuff {
    margin-top: -40%;
    font-size: 110%;
  }

  #mars{
    max-width: 90%;

  }

  #quoter {
    width: 30%;
    padding: 3%;
    border-top: solid white;
    border-bottom: solid white;
  }

  #content {
    justify-content: center;
    margin-top: 5%;
    font-size: 80%;
    padding: 5%;
  }

  #geyser {
    width: 100%;
  }

  #image {
    width: 40%;
  }

}

/*Tablet*/
@media screen and (min-width: 426px) and (max-width: 768px) {
  #headerstuff {
    margin-top: -40%;
    font-size: 110%;
  }

  #mars{
    max-width: 90%;
  }

  #quoter {
    width: 30%;
    padding: 3%;
    border-top: solid white;
    border-bottom: solid white;
  }

  #content {
    justify-content: center;
    margin-top: 15%;
    font-size: 80%;
    padding: 5%;
  }

  #geyser {
    width: 80%;
  }

  #image {
    width: 40%;
  }

}
}
